.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.reg-block {
    text-align: center;
    width: 400px;
    position: relative;
    margin: 130px auto;

    h2 {
        padding: 10px;
        font-size: 50px;
        font-weight: 600;
        color: rgb(95, 28, 158);
    }

    input {
        padding: 14px;
        border: 1px solid rgb(112, 112, 112);
        border-radius: 4px;
        margin: 8px;
        font-size: 15px;
        width: 400px;
        &:focus {
            border-color: rgb(231, 200, 60);
        }
    }

    button {
        margin: 8px 0;
        padding: 12px 18px;
        font-size: 20px;
        position: absolute;
        right: -8px;
        color: #fff;
        background-color: rgb(95, 28, 158);
        border-radius: 4px;
        font-weight: bold;
        transition: 0.5s;
        &:hover {
            color: rgb(95, 28, 158);
            background-color: #fff;
            transition: 0.5s;
            font-weight: bold;
        }
    }
}
