<div class="container auth-page">
    <div class="reg-block">
        <h2>Sign Up</h2>
        <p>
            <!-- <a [routerLink]="[/login]">Have an account?</a> -->
        </p>
        <!-- ERROR --> 
        <form [formGroup]="form" (ngSubmit) = "onSubmit()">
            <fieldset>
                <fieldset>
                    <input type="text" placeholder="Username" formControlName="username" />
                </fieldset>
                <fieldset>
                    <input type="email" placeholder="Email" formControlName="email" />
                </fieldset>
                <fieldset> 
                    <input type="password" placeholder="Password" formControlName="password" />
                </fieldset>
                {{isSubmitting$ | async}}
                <button type='submit'[disabled] = "isSubmitting$ | async">Sign Up</button>
            </fieldset>
        </form>
    </div>
</div>